# cf. https://github.com/tokio-rs/axum/blob/main/.github/workflows/CI.yml

name: ci

env:
  CARGO_TERM_COLOR: always
  MSRV: "1.60"

on:
  - push

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy, rustfmt
      - run: sudo apt update && sudo apt install libjack-dev # jack-sys dependency
      - run: cargo clippy
      - run: cargo fmt --check
